.idea/
.DS_Store
.gcp-*
.env

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.php-cs-fixer.cache
###< phpunit/phpunit ###
